<body>
    <div class="page-wrapper">
        <main class="main" style="background-color: #e9e9e9;">
            <div ng-show="isLoading" class="loading">
                <div class="spinner-border text-primary spinner-center" role="status">
                </div>
            </div>
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title"> CHÍNH SÁCH ĐỔI TRẢ<span>Bluv</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chính sách đổi trả</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="page-content" id="return-policy" style="width: 80%; margin: auto; background-color: white;">
                <h3>I. Quy định đổi trả</h3>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp; 1. Những trường hợp được đổi trả:</h5>
                <div class="row">
                    <ul class="offset-1 col-sm-11 content">
                        <li>Hàng bị lỗi kỹ thuật và lỗi do nhà sản xuất.</li>
                        <li>Hàng bị hư hỏng do quá trình vận chuyển hàng cho khách. </li>
                        <li>Hàng giao không đúng mẫu mã, loại mà khách đã đặt.</li>
                        <li>Hàng không vừa size.</li>
                    </ul>
                </div>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp; 2. Điều kiện và quy định đổi trả chung:</h5>
                <div class="row">
                    <ul class="offset-1 col-sm-11 content">
                        <li>Đối với sản phẩm lỗi, khách hàng có thể đổi sang sản phẩm khác trong vòng 10 ngày kể từ khi
                            nhận hàng.
                        </li>
                        <li>Đối với sản phẩm khách hàng muốn đổi trả, khách hàng cũng có thể đổi sang sản phẩm khác
                            trong vòng 10
                            ngày kể từ khi nhận hàng.</li>
                        <li>Sản phẩm phải còn đầy đủ gói hộp, phụ kiện đi kèm và chưa qua sử dụng, không bị dơ bẩn. Khi
                            thử sản phẩm
                            giày dép, quý khách nên mang tất và thử giày trên nền sạch để đảm bảo sản phẩm không bi lấm
                            bẩn.</li>
                        <li>Đối với khách hàng mua hàng tại cửa hàng, phải còn đầy đủ hóa đơn bán hàng hoặc mã QR code
                            hóa đơn của
                            cửa hàng.</li>
                        <li>Đối với việc khách hàng đổi sang sản phẩm có giá trị cao hơn thì khách hàng phải phụ thêm
                            tiền cho bằng
                            giá trị sản phẩm mới.</li>
                        <li>Đối với việc khách hàng đổi sang sản phẩm có giá trị thấp hơn, chúng tôi sẽ gửi lại cho
                            khách hàng số
                            tiền thừa đó.</li>
                    </ul>
                </div>
                <h3>II. Quy Định Hoàn tiền</h3>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp; 1. Những trường hợp được hoàn tiền:</h5>
                <div class="row">
                    <ul class="offset-1 col-sm-11 content">
                        <li>Hàng bị lỗi kỹ thuật và lỗi do nhà sản xuất.</li>
                        <li>Hàng bị hư hỏng do quá trình vận chuyển hàng cho khách. </li>
                        <li>Hàng giao không đúng mẫu mã, loại mà khách đã đặt.</li>
                        <li>Hết hàng, hết size ưng ý để đổi trả.</li>
                    </ul>
                </div>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp; 2. Điều kiện và quy định hoàn tiền:</h5>
                <div class="row">
                    <ul class="offset-1 col-sm-11 content">
                        <li>Đối với sản phẩm lỗi, khách hàng sẽ được nhận hoàn tiền trong vòng 10 ngày kể từ khi nhận
                            hàng.
                        </li>
                        <li>
                            Đối với sản phẩm khách hàng đổi trả, khách hàng sẽ được hoàn tiền nếu sản phẩm đó trong kho
                            hết hàng,
                            hết size thì khách hàng sẽ được nhận lại số tiền của sản phẩm đó trong vòng 10 ngày kể từ
                            khi nhận hàng.
                        </li>
                        <li>Sản phẩm phải còn đầy đủ gói hộp, phụ kiện đi kèm và chưa qua sử dụng, không bị dơ bẩn.</li>
                        <li>Đối với khách hàng mua hàng tại cửa hàng, phải còn đầy đủ hóa đơn bán hàng hoặc mã QR code
                            hóa đơn của
                            cửa hàng.</li>
                        <li>Đối với việc đổi sản phẩm có giá trị thấp hơn, khách hàng có thể nhận lại số tiền dư bằng 2
                            phương
                            thức là tiền mặt hoặc chuyển khoản. Về việc này chúng tôi sẽ làm việc và trao đổi riêng trực
                            tiếp hoặc
                            các chat qua các trang mạng xã hội để giải quyết.</li>
                        <li>Đối với việc đổi sản phẩm có giá trị cao hơn, khách hàng cũng có thể phụ thêm cho chúng tôi
                            bằng 2
                            phương thức là tiền mặt hoặc chuyển khoản. Về việc này chúng tôi sẽ làm việc và trao đổi
                            riêng trực tiếp
                            hoặc các chat qua các trang mạng xã hội để giải quyết.</li>
                    </ul>
                </div>
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        <!-- Plugins JS File -->
        <style>
            .ui-widget-header {
                background: #6666667a
            }
            .content{
                list-style-type: disc;
                font-size: 20px;
            }
            .ui-corner-all,
            .ui-corner-bottom,
            .ui-corner-right,
            .ui-corner-br {
                border-radius: 50px;
            }

            .ui-state-default,
            .ui-widget-content .ui-state-default,
            .ui-widget-header .ui-state-default,
            .ui-button,
            html .ui-button.ui-state-disabled:hover,
            html .ui-button.ui-state-disabled:active {
                background: #666;
            }

            .ui-widget-content {
                background: #f1f1f1;
            }

            .ui-widget.ui-widget-content {
                border: 1px solid #ffffff;
            }

            .ui-widget {
                font-size: 0.9em;
            }
        </style>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wNumb.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/nouislider.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/main.js"></script>
</body>