<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Bluv.snk - Administration</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <!-- test -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link rel="icon" href="/images/logo/bluv.png">

    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


</head>

<body id="admin-id" ng-app="admin-app" ng-controller="admin-ctrl">
    <div ng-show="isLoading" class="loading">
        <div class="spinner-border text-primary spinner-center" role="status">
        </div>
    </div>
    <div class="row body-pd" id="body-pd">
        <header class="header  header-after-click" id="header">
            <div class="header_toggle "> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="logo-reponsive me-3" style="margin-top: auto; width: 140px;">
                <a href="#" class="nav_logo m-0 p-0">
                    <img src="/images/logo/bluv.png" alt="" style="width: 20%;margin-right: 5px">
                    <span class="nav_logo-name">Bluv.snk</span>
                </a>
            </div>
        </header>

        <div class="l-navbar showNav" id="nav-bar">
            <nav class="nav">
                <div class="row">
                    <div class="nav_logo">
                        <a href="#">
                            <img src="/images/logo/bluv.png" alt="" style="width: 25px;margin-right: 5px">
                            <span class="nav_logo-name">Bluv.snk</span>
                        </a>
                        <div class=" header_toggle" style="color: white; float: right; margin-right: 25px;"> <i
                                class='bx bx-menu bx-x' id="close-toggle"></i> </div>
                    </div>

                    <div class="nav_list row">
                        <a href="" class="nav_link active" alt="Home" ng-click="navClick.home()" id="homeAdmin">
                            <i class="fa-solid fa-house"></i>
                            <span class="nav_name">{{languageNav['Admin.nav.Overview']}}</span>
                        </a>
                        <a href="" class="nav_link collapsed " id="product-manager" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false">
                            <i class="fa-solid fa-angle-right" id="product-icon" style="font-size: 25px;"></i>
                            <span class="nav_name">{{languageNav['Admin.nav.ProductManagement']}}</span>
                        </a>
                        <div class="collapse nav_list row ms-3" id="dashboard-collapse">
                            <a href="" class="sub_nav_link product-nav-item" ng-click="navClick.option()">
                                <i class="bi bi-list-ul"></i>
                                <span class="nav_name">{{languageNav['Admin.nav.Option']}}</span>
                            </a>
                            <a href="" class="sub_nav_link product-nav-item" ng-click="navClick.product()">
                                <i class="bi bi-grid"></i>
                                <span class="nav_name">{{languageNav['Admin.nav.Product']}}</span>
                            </a>
                            <a href="" class="sub_nav_link product-nav-item" ng-click="navClick.update_price()">
                                <i class="bi bi-arrow-repeat"></i>
                                <span class="nav_name">{{languageNav['Admin.nav.UpdatePrice']}}</span>
                            </a>
                        </div>

                        <a href="" class="nav_link collapsed " id="order-manager" data-bs-toggle="collapse"
                            data-bs-target="#order-collapse" aria-expanded="false">
                            <i class="fa-solid fa-angle-right" id="order-icon" style="font-size: 25px;"></i>
                            <span class="nav_name">{{languageNav['Admin.nav.TransactionManagement']}}</span>
                        </a>
                        <div class="collapse nav_list row ms-3" id="order-collapse">
                            <a href="" class="sub_nav_link product-nav-item" ng-click="navClick.order()">
                                <i class="bi bi-bag-check-fill"></i>
                                <span class="nav_name">{{languageNav['Admin.nav.Order']}}</span>
                            </a>
                            <a href="" class="sub_nav_link product-nav-item" ng-click="navClick.return()">
                                <i class="bi bi-reply-all-fill"></i>
                                <span class="nav_name">{{languageNav['Admin.nav.Return']}}</span>
                            </a>
                            <a href="" class="sub_nav_link product-nav-item" ng-click="navClick.return_policy()">
                                <i class="bi bi-list-ul"></i>
                                <span class="nav_name">Chính sách đổi trả</span>
                            </a>
                        </div>

                        <a href="" class="nav_link" ng-click="navClick.sale_manager()">
                            <i class="fa-brands fa-salesforce"></i>
                            <span class="nav_name">{{languageNav['Admin.nav.Promotions']}}</span>
                        </a>

                        <a href="" class="nav_link" ng-click="navClick.account_manager()">
                            <i class="bi bi-person-circle"></i>
                            <span class="nav_name">{{languageNav['Admin.nav.AccountManagement']}}</span>
                        </a>
                        <a href="" class="nav_link" ng-click="navClick.photo_resource()">
                            <i class="bi bi-image"></i>
                            <span class="nav_name">{{languageNav['Admin.nav.PhotoResources']}}</span>
                        </a>
                        <div class="dropdown mb-4">
                            <a href="#" class="nav_link" id="dropdownUser1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-globe"></i>
                                <span class="nav_name">{{languageNav['Admin.nav.Language']}}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
                                aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href=""
                                        ng-click="navClick.languageVN()">{{languageNav['Admin.nav.VN']}}</a></li>
                                <li><a class="dropdown-item" href=""
                                        ng-click="navClick.languageUS()">{{languageNav['Admin.nav.EN']}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dropdown mb-4">
                    <a ng-if="isLogin == null" href="" class="nav_link" ng-click="navClick.login()">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span class="nav_name">{{languageNav['Admin.nav.SignIn']}}</span>
                    </a>
                    <a ng-if="isLogin != null" href="#" class="nav_link" id="dropdownUser1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <!-- <i class="bi bi-person-fill-gear"></i> -->
                        <!-- <i class="bi bi-person-gear"></i> -->
                        <span class="nav_name">{{languageNav['Admin.nav.AccountMe']}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#!setting"><i
                                    class="bi bi-gear me-2"></i>{{languageNav['Admin.nav.Settings']}}</a></li>
                        <li><a class="dropdown-item" href="" ng-click="navClick.profile()"><i
                                    class="bi bi-person-circle me-2"></i>{{languageNav['Admin.nav.Profile']}}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="" ng-click="navClick.logout()"><i
                                    class="bi bi-box-arrow-left me-2"></i>{{languageNav['Admin.nav.SignOut']}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Container Main start -->
        <div ng-view class=""></div>
    </div>
    <!-- Cũ -->

    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/angularjs.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->

    <!-- chart -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

    <!-- <script src="/js/demo/chart-area-demo.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>


    <script src="/js/angular-route.js"></script>


    <script src="/admin/admin-app.js"></script>

    <script src="/admin/controllers/option-ctrl.js"></script>
    <script src="/admin/controllers/product-ctrl.js"></script>
    <script src="/admin/controllers/order-ctrl.js"></script>
    <script src="/admin/controllers/productReturn-ctrl.js"></script>
    <script src="/admin/controllers/photo-resource.js"></script>
    <script src="/admin/controllers/user-ctrl.js"></script>
    <script src="/admin/controllers/login-ctrl.js"></script>
    <script src="/admin/controllers/pay-ctrl.js"></script>
    <script src="/admin/controllers/profile-ctrl.js"></script>
    <script src="/admin/controllers/sale-ctrl.js"></script>
    <script src="/admin/controllers/setting-ctrl.js"></script>
    <script src="/admin/controllers/update-price-ctrl.js"></script>
</body>

</html>